In [1]:
# import the pandas module
import pandas as pd

In [2]:
# examine the built-in documentation (and in the process, confirm that pandas imported as expected)
help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, moving window linear regressions,
        date shifting and lagging, etc.

PACKAGE CONTENTS
    _libs (package)
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = '1700680381bdbfbc1abe9774f96881801b24d6ca'
    describe_option = <pandas.core.config.CallableDynamicDoc object>
    get_option = <pandas.core.config.CallableDynamicDoc object>
    options = <pandas.core.config.DictWrapper object>
    reset_option = <pandas.core.config.CallableDynamicDoc object>
    set_option = <pandas.core.config.CallableDynamicDoc object>

VERSION
    0.24.1

FILE
    /Users/dheles/anaconda3/lib/python3.6/site-packages/pandas/__init__.py

In [3]:
# if you used an alias when importing, remember to use it when using help
help(pandas)

NameError: name 'pandas' is not defined

Beyond using `help` to learn about the capabilities of an imported package, we can also use `dir` to see the available methods...

In [4]:
dir(pd)

['Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_tslib',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

Once we've found a method that looks promising, we can again use `help` for more information...

In [5]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

Armed with this knowledge, we can now put it into use...

In [6]:
# import our data from a csv file
data = pd.read_csv('patron.csv')

# see all the data
print(data)

        ID           Last          First               Address  \
0      169           Chan        Killian          10 BEECH AVE
1      372       Humphrey         Quincy      10 FAIRMOUNT AVE
2      493        Parrish      Charlotte       10 HAMILTON AVE
3      498         Barron        Delilah       10 HAMILTON AVE
4      773          Bowen          Miley       10 IRONWOOD CIR
5      892           West           Avah      10 JOHNNYCAKE RD
6     1007         Austin          Imani           10 LYNCH RD
7     1134          Hardy          Abbie      10 MCCORMICK AVE
8     1138           Case          Averi          10 MEADOW RD
9     1220          Ayala         Darian             10 OAK DR
10    1289        Meadows         Austin        10 PARSONS AVE
11    1417          Moore          Amina        10 PARSONS AVE
12    1421          Hodge          Chase           10 PENNY LN
13    1422         Dodson         Boston    10 PHILADELPHIA RD
14    1482         Decker         Corbin              10 RIDGE
15    1949       Mcdowell         Ashlee       10 SEDGEMOOR RD
16    2263         Galvan          Zaria          10 SMITH AVE
17    2265          Hurst        Gregory         10 TAMERON PL
18    2317           Ware        Richard        10 TRUMPS MILL
19    2731        Vasquez          Mario         10 UTRECHT RD
20    3034        Lindsey            Eve          10 WHITBY RD
21    3198          Costa      Valentina       1000 Sumter Ave
22    3276       Schwartz          Amiah       1000 SUMTER AVE
23    1090           Meza        Quentin       1006 HARWALL RD
24    2874        Maxwell          Gemma       1006 Sumter Ave
25     127           Frey        Nathaly       1006 SUMTER AVE
26     711       Fletcher         Karsyn       1008 SUMTER AVE
27     265        Stanton        Brennen     100 BUTTONWOOD CT
28     450          Rojas          Brent       100 Lionhead Ct
29     583         Hinton        Bradley       100 LIONHEAD CT
...    ...            ...            ...                   ...
3425   587          Grant         Konnor        838 JAYDEE AVE
3426   609         Dillon         Karina         83 DELMAR CIR
3427   690       Mckinney       Maddison       8401 ALLISON LN
3428   779          Doyle       Gisselle  8402 PHILADELPHIA RD
3429   874           Yang         Dorian         8405 AVERY RD
3430   925        Calhoun           Diya          8405 Coco Rd
3431   965          Glenn         Aubree          8405 COCO RD
3432   982          Gould          Talia      8406 KAVANAGH RD
3433  1004         Barber          Kiara       8408 ALLISON LN
3434  1053         Levine           Cora        840 JAYDEE AVE
3435  1066          Duffy         Layton  8414 PHILADELPHIA RD
3436  1070       Mcintyre        Grayson          8417 COCO RD
3437  1692        Dickson          Caleb        841 JAYDEE AVE
3438  1821         Pineda           Myah   8421 Rocky Mount Rd
3439  2097         Cortez          Lilia         8431 AVERY RD
3440  2309          Mayer           Kyla      8433 KAVANAGH RD
3441  2345      Gallagher         Kamari        843 JAYDEE AVE
3442  2367       Whitaker        Justine       843 MILDRED AVE
3443  2393       Mcdonald         Aubrie        845 JAYDEE AVE
3444  2419        Michael        Janessa      8461 KAVANAGH RD
3445  2631          Rocha        Mallory       849 MILDRED AVE
3446  2771          Olsen         Saniya  8500 SANDY PLAINS RD
3447  2830        Stanton         Armani       8502 DAYTONA RD
3448  3076           Reed           Lana  8506 SANDY PLAINS RD
3449  3130           Bass         Camryn      8510 KAVANAGH RD
3450  3297           Howe          Ariel      8540 KAVANAGH RD
3451  3435          Burns          Miles      8548 Kavanagh Rd
3452  1516         Mccann           Jane      8548 KAVANAGH RD
3453  1384           Ball         Mathew       854 MILDRED AVE
3454   604         Wright            Leo      8555 PULASKI HWY

                  City State    Zip         DOB                      College  \
0            BALTIMORE    MD  21206  05/26/1977  School of Arts and Sciences
1            ARLINGTON    MD  21215  02/09/2001  School of Arts and Sciences
2            BALTIMORE    MD  21237  05/25/1997  School of Arts and Sciences
3             ROSEDALE    MD  21237  08/22/1970  School of Arts and Sciences
4     MOUNT WASHINGTON    MD  21209  03/17/1986  School of Arts and Sciences
5            GWYNN OAK    MD  21207  03/17/1987  School of Arts and Sciences
6              DUNDALK    MD  21222  11/07/1975  School of Arts and Sciences
7            BALTIMORE    MD  21206  03/30/1972  School of Arts and Sciences
8            BALTIMORE    MD  21206  10/03/1963  School of Arts and Sciences
9            GWYNN OAK    MD  21207  03/13/1974  School of Arts and Sciences
10           BALTIMORE    MD  21207  05/26/1964  School of Arts and Sciences
11           BALTIMORE    MD  21215  09/01/1998  School of Arts and Sciences
12           BALTIMORE    MD  21209  03/15/1977  School of Arts and Sciences
13           BALTIMORE    MD  21237  06/18/2002  School of Arts and Sciences
14           BALTIMORE    MD  21215  03/24/1972  School of Arts and Sciences
15           GWYNN OAK    MD  21207  10/28/1960  School of Arts and Sciences
16           BALTIMORE    MD  21209  02/24/1969  School of Arts and Sciences
17            ROSEDALE    MD  21237  04/02/1996  School of Arts and Sciences
18            ROSEDALE    MD  21237  06/11/1989  School of Arts and Sciences
19           BALTIMORE    MD  21206  03/15/1986  School of Arts and Sciences
20           BALTIMORE    MD  21206  04/04/1992  School of Arts and Sciences
21            Rosedale    MD  21237  11/09/1977  School of Arts and Sciences
22            ROSEDALE    MD  21237  04/16/1988  School of Arts and Sciences
23           GWYNN OAK    MD  21207  06/23/1991  School of Arts and Sciences
24            Rosedale    MD  21237  04/27/1984  School of Arts and Sciences
25            ROSEDALE    MD  72742  06/08/2000  School of Arts and Sciences
26            ROSEDALE    MD  72749  11/09/2002  School of Arts and Sciences
27            ROSEDALE    MD  21237  09/25/1999  School of Arts and Sciences
28            Rosedale    MD  21237  04/19/1983  School of Arts and Sciences
29            ROSEDALE    MD  21237  07/12/1999  School of Arts and Sciences
...                ...   ...    ...         ...                          ...
3425           DUNDALK    MD  21334  04/10/1964      School of Public Health
3426           DUNDALK    MD  24832  07/14/1961      School of Public Health
3427          ROSEDALE    MD  21237  07/29/1979      School of Public Health
3428          ROSEDALE    MD  21237  12/04/1985      School of Public Health
3429          ROSEDALE    MD  71703  09/21/1976      School of Public Health
3430          Rosedale    MD  21237  01/26/1960      School of Public Health
3431          ROSEDALE    MD  71811  06/04/1996      School of Public Health
3432           DUNDALK    MD  25625  02/29/2000      School of Public Health
3433          ROSEDALE    MD  21237  01/22/1965      School of Public Health
3434           DUNDALK    MD  21334  04/16/1987      School of Public Health
3435          ROSEDALE    MD  21237  04/28/1975      School of Public Health
3436          ROSEDALE    MD  71844  09/20/1996      School of Public Health
3437           DUNDALK    MD  21222  01/24/1978      School of Public Health
3438          Rosedale    MD  21237  02/16/1965      School of Public Health
3439          ROSEDALE    MD  71751  04/10/1975      School of Public Health
3440           DUNDALK    MD  25627  01/31/2001      School of Public Health
3441           DUNDALK    MD  21222  04/11/1964      School of Public Health
3442           DUNDALK    MD  21342  01/31/1973      School of Public Health
3443           DUNDALK    MD  21335  06/06/1996      School of Public Health
3444           DUNDALK    MD  25629  03/15/1982      School of Public Health
3445           DUNDALK    MD  21342  07/05/1975      School of Public Health
3446           DUNDALK    MD  25617  12/21/1961      School of Public Health
3447          ROSEDALE    MD  72008  07/13/2001      School of Public Health
3448           DUNDALK    MD  25617  12/02/1974      School of Public Health
3449           DUNDALK    MD  25601  07/24/1969      School of Public Health
3450           DUNDALK    MD  21222  11/06/1985      School of Public Health
3451           Dundalk    MD  21222  04/25/1967      School of Public Health
3452           DUNDALK    MD  25601  04/24/1979      School of Public Health
3453           DUNDALK    MD  21341  05/23/1995      School of Public Health
3454          ROSEDALE    MD  21237  12/10/1963      School of Public Health

                                        Department  \
0                                     Anthropology
1                                     Anthropology
2                                     Anthropology
3                                     Anthropology
4                                     Anthropology
5                                     Anthropology
6                                     Anthropology
7                                     Anthropology
8                                     Anthropology
9                                     Anthropology
10                                    Anthropology
11                                    Anthropology
12                                    Anthropology
13                                    Anthropology
14                                    Anthropology
15                                    Anthropology
16                                    Anthropology
17                                    Anthropology
18                                    Anthropology
19                                    Anthropology
20                                    Anthropology
21                                    Anthropology
22                                    Anthropology
23                                    Anthropology
24    Biochemistry, Cellular and Molecular Biology
25    Biochemistry, Cellular and Molecular Biology
26                                         Biology
27                                         Biology
28                                         Biology
29                                         Biology
...                                            ...
3425    Population, Family and Reproductive Health
3426    Population, Family and Reproductive Health
3427    Population, Family and Reproductive Health
3428    Population, Family and Reproductive Health
3429    Population, Family and Reproductive Health
3430    Population, Family and Reproductive Health
3431    Population, Family and Reproductive Health
3432    Population, Family and Reproductive Health
3433    Population, Family and Reproductive Health
3434    Population, Family and Reproductive Health
3435    Population, Family and Reproductive Health
3436    Population, Family and Reproductive Health
3437    Population, Family and Reproductive Health
3438    Population, Family and Reproductive Health
3439    Population, Family and Reproductive Health
3440    Population, Family and Reproductive Health
3441    Population, Family and Reproductive Health
3442    Population, Family and Reproductive Health
3443    Population, Family and Reproductive Health
3444    Population, Family and Reproductive Health
3445    Population, Family and Reproductive Health
3446    Population, Family and Reproductive Health
3447    Population, Family and Reproductive Health
3448    Population, Family and Reproductive Health
3449    Population, Family and Reproductive Health
3450    Population, Family and Reproductive Health
3451    Population, Family and Reproductive Health
3452    Population, Family and Reproductive Health
3453    Population, Family and Reproductive Health
3454   Population, Family, and Reproductive Health

                                     Major   Degree
0                             Anthropology    Ph.D.
1                             Anthropology    Ph.D.
2                             Anthropology    Ph.D.
3                             Anthropology    Ph.D.
4                             Anthropology    Ph.D.
5                             Anthropology    Ph.D.
6                             Anthropology    Ph.D.
7                             Anthropology    Ph.D.
8                             Anthropology    Ph.D.
9                             Anthropology    Ph.D.
10                            Anthropology    Ph.D.
11                            Anthropology    Ph.D.
12                            Anthropology    Ph.D.
13                            Anthropology    Ph.D.
14                            Anthropology    Ph.D.
15                            Anthropology    Ph.D.
16                            Anthropology    Ph.D.
17                            Anthropology    Ph.D.
18                            Anthropology    Ph.D.
19                            Anthropology    Ph.D.
20                            Anthropology    Ph.D.
21                            Anthropology    Ph.D.
22                            Anthropology    Ph.D.
23                        Computer Science    Ph.D.
24                            Biochemistry    Ph.D.
25    Human Genetics and Molecular Biology     M.S.
26                            Biochemistry    Ph.D.
27                                 Biology     M.S.
28                                 Biology     M.S.
29                                 Biology     M.S.
...                                    ...      ...
3425                 Public Health Studies    Ph.D.
3426                 Public Health Studies    Ph.D.
3427                 Public Health Studies    Ph.D.
3428                 Public Health Studies    Ph.D.
3429                 Public Health Studies    Ph.D.
3430                 Public Health Studies    Ph.D.
3431                 Public Health Studies    Ph.D.
3432                 Public Health Studies    Ph.D.
3433                 Public Health Studies    Ph.D.
3434                 Public Health Studies    Ph.D.
3435                 Public Health Studies    Ph.D.
3436                 Public Health Studies    Ph.D.
3437                 Public Health Studies    Ph.D.
3438                 Public Health Studies    Ph.D.
3439                 Public Health Studies    Ph.D.
3440                 Public Health Studies    Ph.D.
3441                 Public Health Studies    Ph.D.
3442                 Public Health Studies    Ph.D.
3443                 Public Health Studies    Ph.D.
3444                 Public Health Studies    Ph.D.
3445                 Public Health Studies    Ph.D.
3446                 Public Health Studies    Ph.D.
3447                 Public Health Studies    Ph.D.
3448                 Public Health Studies    Ph.D.
3449                 Public Health Studies    Ph.D.
3450                 Public Health Studies    Ph.D.
3451                 Public Health Studies    Ph.D.
3452          Social & Behavioral Sciences  Dr.P.H.
3453          Social & Behavioral Sciences    Ph.D.
3454          Social & Behavioral Sciences    Ph.D.

[3455 rows x 12 columns]

In [6]:
# see how the data is being interpreted by python
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3455 entries, 0 to 3454
Data columns (total 12 columns):
ID            3455 non-null int64
Last          3455 non-null object
First         3455 non-null object
Address       3455 non-null object
City          3454 non-null object
State         3455 non-null object
Zip           3455 non-null int64
DOB           3455 non-null object
College       3455 non-null object
Department    3455 non-null object
Major         3455 non-null object
Degree        3455 non-null object
dtypes: int64(2), object(10)
memory usage: 324.0+ KB

notice that an additional column (the RangeIndex) has been added to our data to number the rows. since we already have an ID column for this, we should use it instead...

In [7]:
# re-read the data, using the ID column as the index
data = pd.read_csv('patron.csv', index_col='ID')

# check the result
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3455 entries, 169 to 604
Data columns (total 11 columns):
Last          3455 non-null object
First         3455 non-null object
Address       3455 non-null object
City          3454 non-null object
State         3455 non-null object
Zip           3455 non-null int64
DOB           3455 non-null object
College       3455 non-null object
Department    3455 non-null object
Major         3455 non-null object
Degree        3455 non-null object
dtypes: int64(1), object(10)
memory usage: 323.9+ KB

In [8]:
# and see how it prints out
print(data)

               Last          First               Address              City  \
ID
169            Chan        Killian          10 BEECH AVE         BALTIMORE
372        Humphrey         Quincy      10 FAIRMOUNT AVE         ARLINGTON
493         Parrish      Charlotte       10 HAMILTON AVE         BALTIMORE
498          Barron        Delilah       10 HAMILTON AVE          ROSEDALE
773           Bowen          Miley       10 IRONWOOD CIR  MOUNT WASHINGTON
892            West           Avah      10 JOHNNYCAKE RD         GWYNN OAK
1007         Austin          Imani           10 LYNCH RD           DUNDALK
1134          Hardy          Abbie      10 MCCORMICK AVE         BALTIMORE
1138           Case          Averi          10 MEADOW RD         BALTIMORE
1220          Ayala         Darian             10 OAK DR         GWYNN OAK
1289        Meadows         Austin        10 PARSONS AVE         BALTIMORE
1417          Moore          Amina        10 PARSONS AVE         BALTIMORE
1421          Hodge          Chase           10 PENNY LN         BALTIMORE
1422         Dodson         Boston    10 PHILADELPHIA RD         BALTIMORE
1482         Decker         Corbin              10 RIDGE         BALTIMORE
1949       Mcdowell         Ashlee       10 SEDGEMOOR RD         GWYNN OAK
2263         Galvan          Zaria          10 SMITH AVE         BALTIMORE
2265          Hurst        Gregory         10 TAMERON PL          ROSEDALE
2317           Ware        Richard        10 TRUMPS MILL          ROSEDALE
2731        Vasquez          Mario         10 UTRECHT RD         BALTIMORE
3034        Lindsey            Eve          10 WHITBY RD         BALTIMORE
3198          Costa      Valentina       1000 Sumter Ave          Rosedale
3276       Schwartz          Amiah       1000 SUMTER AVE          ROSEDALE
1090           Meza        Quentin       1006 HARWALL RD         GWYNN OAK
2874        Maxwell          Gemma       1006 Sumter Ave          Rosedale
127            Frey        Nathaly       1006 SUMTER AVE          ROSEDALE
711        Fletcher         Karsyn       1008 SUMTER AVE          ROSEDALE
265         Stanton        Brennen     100 BUTTONWOOD CT          ROSEDALE
450           Rojas          Brent       100 Lionhead Ct          Rosedale
583          Hinton        Bradley       100 LIONHEAD CT          ROSEDALE
...             ...            ...                   ...               ...
587           Grant         Konnor        838 JAYDEE AVE           DUNDALK
609          Dillon         Karina         83 DELMAR CIR           DUNDALK
690        Mckinney       Maddison       8401 ALLISON LN          ROSEDALE
779           Doyle       Gisselle  8402 PHILADELPHIA RD          ROSEDALE
874            Yang         Dorian         8405 AVERY RD          ROSEDALE
925         Calhoun           Diya          8405 Coco Rd          Rosedale
965           Glenn         Aubree          8405 COCO RD          ROSEDALE
982           Gould          Talia      8406 KAVANAGH RD           DUNDALK
1004         Barber          Kiara       8408 ALLISON LN          ROSEDALE
1053         Levine           Cora        840 JAYDEE AVE           DUNDALK
1066          Duffy         Layton  8414 PHILADELPHIA RD          ROSEDALE
1070       Mcintyre        Grayson          8417 COCO RD          ROSEDALE
1692        Dickson          Caleb        841 JAYDEE AVE           DUNDALK
1821         Pineda           Myah   8421 Rocky Mount Rd          Rosedale
2097         Cortez          Lilia         8431 AVERY RD          ROSEDALE
2309          Mayer           Kyla      8433 KAVANAGH RD           DUNDALK
2345      Gallagher         Kamari        843 JAYDEE AVE           DUNDALK
2367       Whitaker        Justine       843 MILDRED AVE           DUNDALK
2393       Mcdonald         Aubrie        845 JAYDEE AVE           DUNDALK
2419        Michael        Janessa      8461 KAVANAGH RD           DUNDALK
2631          Rocha        Mallory       849 MILDRED AVE           DUNDALK
2771          Olsen         Saniya  8500 SANDY PLAINS RD           DUNDALK
2830        Stanton         Armani       8502 DAYTONA RD          ROSEDALE
3076           Reed           Lana  8506 SANDY PLAINS RD           DUNDALK
3130           Bass         Camryn      8510 KAVANAGH RD           DUNDALK
3297           Howe          Ariel      8540 KAVANAGH RD           DUNDALK
3435          Burns          Miles      8548 Kavanagh Rd           Dundalk
1516         Mccann           Jane      8548 KAVANAGH RD           DUNDALK
1384           Ball         Mathew       854 MILDRED AVE           DUNDALK
604          Wright            Leo      8555 PULASKI HWY          ROSEDALE

     State    Zip         DOB                      College  \
ID
169     MD  21206  05/26/1977  School of Arts and Sciences
372     MD  21215  02/09/2001  School of Arts and Sciences
493     MD  21237  05/25/1997  School of Arts and Sciences
498     MD  21237  08/22/1970  School of Arts and Sciences
773     MD  21209  03/17/1986  School of Arts and Sciences
892     MD  21207  03/17/1987  School of Arts and Sciences
1007    MD  21222  11/07/1975  School of Arts and Sciences
1134    MD  21206  03/30/1972  School of Arts and Sciences
1138    MD  21206  10/03/1963  School of Arts and Sciences
1220    MD  21207  03/13/1974  School of Arts and Sciences
1289    MD  21207  05/26/1964  School of Arts and Sciences
1417    MD  21215  09/01/1998  School of Arts and Sciences
1421    MD  21209  03/15/1977  School of Arts and Sciences
1422    MD  21237  06/18/2002  School of Arts and Sciences
1482    MD  21215  03/24/1972  School of Arts and Sciences
1949    MD  21207  10/28/1960  School of Arts and Sciences
2263    MD  21209  02/24/1969  School of Arts and Sciences
2265    MD  21237  04/02/1996  School of Arts and Sciences
2317    MD  21237  06/11/1989  School of Arts and Sciences
2731    MD  21206  03/15/1986  School of Arts and Sciences
3034    MD  21206  04/04/1992  School of Arts and Sciences
3198    MD  21237  11/09/1977  School of Arts and Sciences
3276    MD  21237  04/16/1988  School of Arts and Sciences
1090    MD  21207  06/23/1991  School of Arts and Sciences
2874    MD  21237  04/27/1984  School of Arts and Sciences
127     MD  72742  06/08/2000  School of Arts and Sciences
711     MD  72749  11/09/2002  School of Arts and Sciences
265     MD  21237  09/25/1999  School of Arts and Sciences
450     MD  21237  04/19/1983  School of Arts and Sciences
583     MD  21237  07/12/1999  School of Arts and Sciences
...    ...    ...         ...                          ...
587     MD  21334  04/10/1964      School of Public Health
609     MD  24832  07/14/1961      School of Public Health
690     MD  21237  07/29/1979      School of Public Health
779     MD  21237  12/04/1985      School of Public Health
874     MD  71703  09/21/1976      School of Public Health
925     MD  21237  01/26/1960      School of Public Health
965     MD  71811  06/04/1996      School of Public Health
982     MD  25625  02/29/2000      School of Public Health
1004    MD  21237  01/22/1965      School of Public Health
1053    MD  21334  04/16/1987      School of Public Health
1066    MD  21237  04/28/1975      School of Public Health
1070    MD  71844  09/20/1996      School of Public Health
1692    MD  21222  01/24/1978      School of Public Health
1821    MD  21237  02/16/1965      School of Public Health
2097    MD  71751  04/10/1975      School of Public Health
2309    MD  25627  01/31/2001      School of Public Health
2345    MD  21222  04/11/1964      School of Public Health
2367    MD  21342  01/31/1973      School of Public Health
2393    MD  21335  06/06/1996      School of Public Health
2419    MD  25629  03/15/1982      School of Public Health
2631    MD  21342  07/05/1975      School of Public Health
2771    MD  25617  12/21/1961      School of Public Health
2830    MD  72008  07/13/2001      School of Public Health
3076    MD  25617  12/02/1974      School of Public Health
3130    MD  25601  07/24/1969      School of Public Health
3297    MD  21222  11/06/1985      School of Public Health
3435    MD  21222  04/25/1967      School of Public Health
1516    MD  25601  04/24/1979      School of Public Health
1384    MD  21341  05/23/1995      School of Public Health
604     MD  21237  12/10/1963      School of Public Health

                                        Department  \
ID
169                                   Anthropology
372                                   Anthropology
493                                   Anthropology
498                                   Anthropology
773                                   Anthropology
892                                   Anthropology
1007                                  Anthropology
1134                                  Anthropology
1138                                  Anthropology
1220                                  Anthropology
1289                                  Anthropology
1417                                  Anthropology
1421                                  Anthropology
1422                                  Anthropology
1482                                  Anthropology
1949                                  Anthropology
2263                                  Anthropology
2265                                  Anthropology
2317                                  Anthropology
2731                                  Anthropology
3034                                  Anthropology
3198                                  Anthropology
3276                                  Anthropology
1090                                  Anthropology
2874  Biochemistry, Cellular and Molecular Biology
127   Biochemistry, Cellular and Molecular Biology
711                                        Biology
265                                        Biology
450                                        Biology
583                                        Biology
...                                            ...
587     Population, Family and Reproductive Health
609     Population, Family and Reproductive Health
690     Population, Family and Reproductive Health
779     Population, Family and Reproductive Health
874     Population, Family and Reproductive Health
925     Population, Family and Reproductive Health
965     Population, Family and Reproductive Health
982     Population, Family and Reproductive Health
1004    Population, Family and Reproductive Health
1053    Population, Family and Reproductive Health
1066    Population, Family and Reproductive Health
1070    Population, Family and Reproductive Health
1692    Population, Family and Reproductive Health
1821    Population, Family and Reproductive Health
2097    Population, Family and Reproductive Health
2309    Population, Family and Reproductive Health
2345    Population, Family and Reproductive Health
2367    Population, Family and Reproductive Health
2393    Population, Family and Reproductive Health
2419    Population, Family and Reproductive Health
2631    Population, Family and Reproductive Health
2771    Population, Family and Reproductive Health
2830    Population, Family and Reproductive Health
3076    Population, Family and Reproductive Health
3130    Population, Family and Reproductive Health
3297    Population, Family and Reproductive Health
3435    Population, Family and Reproductive Health
1516    Population, Family and Reproductive Health
1384    Population, Family and Reproductive Health
604    Population, Family, and Reproductive Health

                                     Major   Degree
ID
169                           Anthropology    Ph.D.
372                           Anthropology    Ph.D.
493                           Anthropology    Ph.D.
498                           Anthropology    Ph.D.
773                           Anthropology    Ph.D.
892                           Anthropology    Ph.D.
1007                          Anthropology    Ph.D.
1134                          Anthropology    Ph.D.
1138                          Anthropology    Ph.D.
1220                          Anthropology    Ph.D.
1289                          Anthropology    Ph.D.
1417                          Anthropology    Ph.D.
1421                          Anthropology    Ph.D.
1422                          Anthropology    Ph.D.
1482                          Anthropology    Ph.D.
1949                          Anthropology    Ph.D.
2263                          Anthropology    Ph.D.
2265                          Anthropology    Ph.D.
2317                          Anthropology    Ph.D.
2731                          Anthropology    Ph.D.
3034                          Anthropology    Ph.D.
3198                          Anthropology    Ph.D.
3276                          Anthropology    Ph.D.
1090                      Computer Science    Ph.D.
2874                          Biochemistry    Ph.D.
127   Human Genetics and Molecular Biology     M.S.
711                           Biochemistry    Ph.D.
265                                Biology     M.S.
450                                Biology     M.S.
583                                Biology     M.S.
...                                    ...      ...
587                  Public Health Studies    Ph.D.
609                  Public Health Studies    Ph.D.
690                  Public Health Studies    Ph.D.
779                  Public Health Studies    Ph.D.
874                  Public Health Studies    Ph.D.
925                  Public Health Studies    Ph.D.
965                  Public Health Studies    Ph.D.
982                  Public Health Studies    Ph.D.
1004                 Public Health Studies    Ph.D.
1053                 Public Health Studies    Ph.D.
1066                 Public Health Studies    Ph.D.
1070                 Public Health Studies    Ph.D.
1692                 Public Health Studies    Ph.D.
1821                 Public Health Studies    Ph.D.
2097                 Public Health Studies    Ph.D.
2309                 Public Health Studies    Ph.D.
2345                 Public Health Studies    Ph.D.
2367                 Public Health Studies    Ph.D.
2393                 Public Health Studies    Ph.D.
2419                 Public Health Studies    Ph.D.
2631                 Public Health Studies    Ph.D.
2771                 Public Health Studies    Ph.D.
2830                 Public Health Studies    Ph.D.
3076                 Public Health Studies    Ph.D.
3130                 Public Health Studies    Ph.D.
3297                 Public Health Studies    Ph.D.
3435                 Public Health Studies    Ph.D.
1516          Social & Behavioral Sciences  Dr.P.H.
1384          Social & Behavioral Sciences    Ph.D.
604           Social & Behavioral Sciences    Ph.D.

[3455 rows x 11 columns]

with the additional index column gone, there's a little more room for our data. we can do better, though...

In [9]:
# use pandas' head function to see the first 5 rows of data (formatted a little nicer...)
data.head()

,Last,First,Address,City,State,Zip,DOB,College,Department,Major,Degree
ID,,,,,,,,,,,
169,Chan,Killian,10 BEECH AVE,BALTIMORE,MD,21206,05/26/1977,School of Arts and Sciences,Anthropology,Anthropology,Ph.D.
372,Humphrey,Quincy,10 FAIRMOUNT AVE,ARLINGTON,MD,21215,02/09/2001,School of Arts and Sciences,Anthropology,Anthropology,Ph.D.
493,Parrish,Charlotte,10 HAMILTON AVE,BALTIMORE,MD,21237,05/25/1997,School of Arts and Sciences,Anthropology,Anthropology,Ph.D.
498,Barron,Delilah,10 HAMILTON AVE,ROSEDALE,MD,21237,08/22/1970,School of Arts and Sciences,Anthropology,Anthropology,Ph.D.
773,Bowen,Miley,10 IRONWOOD CIR,MOUNT WASHINGTON,MD,21209,03/17/1986,School of Arts and Sciences,Anthropology,Anthropology,Ph.D.

Let's take another look at our info, to see if we can make any other improvements in how we read our data...

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3455 entries, 169 to 604
Data columns (total 11 columns):
Last          3455 non-null object
First         3455 non-null object
Address       3455 non-null object
City          3454 non-null object
State         3455 non-null object
Zip           3455 non-null int64
DOB           3455 non-null object
College       3455 non-null object
Department    3455 non-null object
Major         3455 non-null object
Degree        3455 non-null object
dtypes: int64(1), object(10)
memory usage: 323.9+ KB

Notice that our date-of-birth (DOB) column isn't being interpreted as a date. We can fix this by telling pandas how to parse that column. The parse_dates argument of pandas' read_csv() function just needs to know the indexes of the columns that should be interpreted as dates. Remember that in python, indexes start at zero and that ID is still our first column (even though the output of info no longer counts it as a _data_ column).

In [11]:
# re-read our data, parsing the DOB column (which has index 7) as dates
data = pd.read_csv('patron.csv', index_col='ID', parse_dates=[7])

# confirm that DOB is now a datetime object
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3455 entries, 169 to 604
Data columns (total 11 columns):
Last          3455 non-null object
First         3455 non-null object
Address       3455 non-null object
City          3454 non-null object
State         3455 non-null object
Zip           3455 non-null int64
DOB           3455 non-null datetime64[ns]
College       3455 non-null object
Department    3455 non-null object
Major         3455 non-null object
Degree        3455 non-null object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 323.9+ KB

In [12]:
# check our work, this time using tail to see the last 5 rows of our data
data.tail()

,Last,First,Address,City,State,Zip,DOB,College,Department,Major,Degree
ID,,,,,,,,,,,
3297,Howe,Ariel,8540 KAVANAGH RD,DUNDALK,MD,21222,1985-11-06,School of Public Health,"Population, Family and Reproductive Health",Public Health Studies,Ph.D.
3435,Burns,Miles,8548 Kavanagh Rd,Dundalk,MD,21222,1967-04-25,School of Public Health,"Population, Family and Reproductive Health",Public Health Studies,Ph.D.
1516,Mccann,Jane,8548 KAVANAGH RD,DUNDALK,MD,25601,1979-04-24,School of Public Health,"Population, Family and Reproductive Health",Social & Behavioral Sciences,Dr.P.H.
1384,Ball,Mathew,854 MILDRED AVE,DUNDALK,MD,21341,1995-05-23,School of Public Health,"Population, Family and Reproductive Health",Social & Behavioral Sciences,Ph.D.
604,Wright,Leo,8555 PULASKI HWY,ROSEDALE,MD,21237,1963-12-10,School of Public Health,"Population, Family, and Reproductive Health",Social & Behavioral Sciences,Ph.D.

By the way our DOB column is being formatted (year-month-date, rather than month/day/year), we can tell that it's being interpreted as date information, so we can now treat it as such.